/* Modes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modes {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.mode-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.mode-heading {
  margin-bottom: .3rem;
}
.mode-description {
  opacity: .8;
  font-weight: 300;
}
.logos {
  position: relative;
}
/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description { 
  margin-bottom: 4rem;
}

.section {
  padding: 12rem 0 11rem;
}
.hero {
  padding-bottom: 12rem;
  text-align: left;
  height: 165px;
}
.logo {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.iconmode {
  position: absolute;
  max-height: 82px;
  z-index: 3;
}
.hero-heading {
  font-size: 2.4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .logo {
    position: absolute;
    right: 3rem;
    max-height: 162px;
    z-index: 3;
  }
  .iconmode {
    position: absolute;
    max-height: 82px;
    z-index: 3;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    right: 5rem;
    max-height: 310px;
  }
  .iconmode {
    position: absolute;
    max-height: 182px;
    z-index: 3;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .logo {
    max-height: 415px;
  }
  .iconmode {
    position: absolute;
    max-height: 282px;
    z-index: 3;
  }
}
